<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>このアプリについて</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>バージョン</string>
				<key>setTitle</key>
				<string>stringVersion</string>
				<key>sectionStyle</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>環境設定</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>関連</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>GitHub</string>
				<key>setTitle</key>
				<string>setGitHub</string>
				<key>actionItem</key>
				<dict>
					<key>action</key>
					<string>linkURLOpen:</string>
					<key>linkURL</key>
					<string>https://github.com/youbinoyou/SandBox</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>その他</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>AppleStore</string>
				<key>setTitle</key>
				<string>setAppStoreReceiptURL</string>
				<key>action</key>
				<string>openAppStoreReceiptURL</string>
				<key>sectionStyle</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>ログイン情報</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
